header{
    width: 100vw;
   
    height: 20%;
    text-align: center;
    font-size: 1em;
    color: aliceblue;

}
.absolute{
overflow: hidden;
height: 20%;
width: 100%;
position:absolute;
}
.barra{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}
label{
    height: 20px;
    width: 50px;
    background-color: aliceblue;
}
input{
    display: none;
}