header{
    width: 100%;
   
    height: 150px;
    text-align: center;
    font-size: 1em;
    color: aliceblue;
   background-image:linear-gradient(to top, #515118,#dce184);

}
.absolute{
    position:absolute;
height:200px;
max-width: 810px;
    min-width: 310px;

overflow: hidden;

}
.barra{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}
label{
    height: 20px;
    width: 50px;
    border: 3px solid white;
    margin: 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s;
}
label:hover{
    background-color: aliceblue;

}

.box{
    max-width: 810px;
    min-width: 310px;
   
    height: 200px;
    

}
input{
    display: none;
    
    
}
.imagens{
    display: flex;
    width: 400%;
    height: 100%;
}
.image{
    width: 25%;
    transition: .6s;
}
.image> img{
    width: 100%;
    height: 100%;
}
#radio1:checked~.s1{
    margin-left: 0;
}
#radio2:checked~.s1{
    margin-left: -25%;
}
#radio3:checked~.s1{
    margin-left: -50%;
}
#radio4:checked~.s1{
    margin-left: -75%;
}